<footer class="footer">
  <div class="footer__container">
    <section class="footer__1">
      <div class="footer__newslater">

        <span class="footer__newslater__subs">Subscribir-te para tener noticias</span>

        <div class="input-group footer__newslater__input">
          <span class="input-group-text f16r" id="basic-addon1">@</span>
          <input type="text" class="form-control f16r" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>

        <button type="button" class="btn btn-warning btn-lg rounded-3 ms-2"><i class="fa-regular fa-envelope"></i>
          Subscribir-se !
        </button>
      </div>
      <div class="footer__contact">
        <address class="footer__contact__address">
          <strong>Eco JORNADAS 2025</strong><br>
          Rambla del Poblenou, 154-156<br>
          Barcelona, Barcelona, 08018<br>
          <a class="footer__contact__email" href="mailto:aramosda@uoc.edu" title="Escríbenos">aramosda@uoc.edu</a><br>
        </address>
      </div>

    </section>
    <hr class="mt-3 mb-3">

    <section class="footer__2 mt-3 mb-3">

      <!-- Logo pagina -->
      <a class="footer__logo" href="index.html" hreflang="es" title="Inicio" aria-label="Ir a la página de inicio">
        <img src="assets/images/logo-white.svg" alt="Logo de la web" width="150" class="nav__logo__img">
      </a>

      <ul class="footer__menu list-style-none">
        <li><a class="text-decoration-none" href="Inicio">Inicio</a></li>
        <li><a class="text-decoration-none" href="Ponencias">Ponencias</a></li>
        <li><a class="text-decoration-none" href="Acticulo">Acticulo</a></li>
        <li><a class="text-decoration-none" href="Contacto">Contacto</a></li>
      </ul>
      <ul class="footer__medias list">
        <li class="hvr-grow">
          <a href="https://github.com/AlexFonte/uoc-herramientas-2" hreflang="es" title="Github"
            aria-label="Ir a Github"><i class="fa-brands fa-github fa-xl"></i></a>
        </li>
        <li class="hvr-grow">
          <a href="#" hreflang="es" title="Google plus" aria-label="Ir a Google Plus"><i
              class="fa-brands fa-google-plus-g fa-xl"></i></a>
        </li>
        <li class="hvr-grow">
          <a href="#" hreflang="es" title="Facebook" aria-label="Ir a Facebook"><i
              class="fa-brands fa-facebook fa-xl"></i></a>
        </li>
        <li class="hvr-grow">
          <a href="#" hreflang="es" title="Twitter" aria-label="Ir a Twitter"><i
              class="fa-brands fa-x-twitter fa-xl"></i></a>
        </li>
        <li class="hvr-grow">
          <a href="#" hreflang="es" title="Instagram" aria-label="Ir a Instagram"><i
              class="fa-brands fa-instagram fa-xl"></i></a>
        </li>
      </ul>

    </section>
  </div>


</footer>