<footer class="footer">
  <div class="footer__container">
    <section class="footer__1">
      <div class="footer__newslater">

        <span class="footer__newslater__subs">Subscribir-te para tener noticias</span>

        <div class="input-group footer__newslater__input">
          <span class="input-group-text f16r" id="basic-addon1">@</span>
          <input type="text" class="form-control f16r" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>

        <button type="button" class="btn btn-warning btn-lg rounded-3 ms-2"><i class="fa-regular fa-envelope"></i>
          Subscribir-se !
        </button>
      </div>
      <div class="footer__contact">
        <address class="footer__contact__address">
          <strong>Eco JORNADAS 2025</strong><br>
          Rambla del Poblenou, 154-156<br>
          Barcelona, Barcelona, 08018<br>
          <a class="footer__contact__email" href="mailto:aramosda@uoc.edu" title="Escríbenos">aramosda@uoc.edu</a><br>
        </address>
      </div>

    </section>

  </div>

  <!-- <div class="footer_end">
    <div class="footer_contact">
      <p>test test tes test tes</p>
    </div>
  </div> -->

</footer>