<header>
    <nav class="nav">
        <div class="nav__logo">
            <!-- Logo pagina -->
            <a href="index.html" title="Logo de la web">
                <img src="assets/images/logo-color.svg" alt="Logo de la web" width="300" class="nav__logo__img">
            </a>
        </div>
        <div class="nav__menu">
            <ul class="nav__list">
                <li class="nav__item hvr-grow-shadow"><a class="nav__item__a text-white" href="ponencias.html"><i
                            class="fa-solid fa-user-tie"></i>
                        Ponencias</a></li>
                <li class="nav__item hvr-grow-shadow"><a class="nav__item__a text-white" href="articulo.html"><i
                            class="fa-regular fa-newspaper"></i>
                        Articulo</a></li>
                <li class="nav__item hvr-grow-shadow"><a class="nav__item__a text-white" href="contact.html"><i
                            class="fa-solid fa-magnifying-glass"></i> Contacto</a></li>
            </ul>
        </div>
    </nav>

</header>